:root{
--terracota:#c46a4a;
--terracotaSoft:#e6b8a2;
--arena:#f7f3ef;
--texto:#3a2f2a;
--dorado:#d6b36a;
}

h4{
font-family:'Great Vibes', cursive;
font-size:5rem;
color:var(--terracota);
font-weight:400;
}

body{
    background:var(--arena);
    color:var(--texto);
    font-family:'Poppins',sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

input,select{
padding:14px;
border-radius:12px;
border:1px solid #ddd;
font-size:1rem;
font-family:'Poppins',sans-serif;
}

button{
margin-top:30px;
padding:16px 40px;
border:none;
border-radius:40px;
background:var(--terracota);
color:white;
font-size:1rem;
cursor:pointer;
transition:.3s;
box-shadow:0 15px 35px rgba(0,0,0,.3);
font-family:'Poppins',sans-serif;
}

button:hover{
transform:translateY(-3px);
background:#aa593f;
box-shadow:0 0 18px rgba(214,179,106,.45);
}

#resultado { 
margin-top: 20px; 
font-size: 1.2em; 
color: #333; 
}

.divider{
width:90px;
height:2px;
background:linear-gradient(to right,var(--terracota),var(--dorado));
margin:25px auto;
border-radius:10px;
}


